html {
    height: 100%;
}

header {
    background-color: rgb(209, 210, 212);
    height: 10vh;
    width: 100%;
    margin-bottom: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.ab {
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.content-a {
    background-color: rgb(239, 64, 54);
    height: 50%;
    width: 70vw;
}

.content-b {
    background-color: rgb(252, 176, 64);
    height: 50%;
    width: 70vw;
}

.content-c {
    background-color: rgb(245, 238, 49);
    width: 30vw;
}

footer {
    background-color: rgb(209, 210, 212);
    height: 10vh;
    width: 100%;
    margin-top: 15px;
}

@media(max-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .ab {
        display: flex;
        flex-direction: column;
        height: 66vh;
    }
    .content-a {
        height: 50%;
        width: 100vw;
    }
    .content-b {
        height: 50%;
        width: 100vw;
    }
    .content-c {
        height: 33vh;
        width: 100vw;
    }
}