html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-rows: .1fr .5fr .3fr .1fr;
    width: 100%;
    height: 100vh;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: grey;
    height: 9vh;
    margin-bottom: 15px;
}

.a {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: lightgreen;
    height: 78vh;
}

.b {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: green;
    height: 78vh;
}

.c {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: yellow;
    height: 78vh;
}

footer {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: grey;
    height: 9vh;
    margin-top: 15px;
}

@media(max-width: 798px) {
    body {
        grid-template-columns: .5fr .5fr;
        grid-template-rows: .15fr .4fr .2fr .15fr;
        width: 100%;
        height: 100vh;
    }
    header {
        height: 10vh;
    }
    .a {
        grid-column: 1/3;
        grid-row: 2/3;
        height: 50vh;
    }
    .b {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 30vh;
    }
    .c {
        grid-column: 2/3;
        grid-row: 3/4;
        height: 30vh;
    }
    footer {
        grid-column: 1/3;
        grid-row: 4/5;
        height: 10vh;
    }
}

@media (max-width: 375px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: .1fr .4fr .2fr .2fr .1fr;
        width: 100%;
        height: 100vh;
    }
    header {
        height: 8vh;
    }
    .a {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 40vh;
    }
    .b {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 20vh;
    }
    .c {
        grid-column: 1/2;
        grid-row: 4/5;
        height: 20vh;
    }
    footer {
        grid-row: 5/6;
        height: 8vh;
    }
}